In [11]:
import pandas as pd
import json

with open('./data.json', 'r') as f:
    data = json.load(f)
df = pd.DataFrame(data)

In [12]:
df

                                                commodity
01                                           Live animals
0101                Live horses, asses, mules and hinnies
010110  Live horses/asses/mules/hinnies: pure-bred bre...
010111                    Horses, live pure-bred breeding
010119             Horses, live except pure-bred breeding
010120                     Asses, mules and hinnies, live
010121           Horses; live, pure-bred breeding animals
010129  Horses; live, other than pure-bred breeding an...

In [13]:
df['commodity'] = df['commodity'] + " " + df.index

                                                commodity
01                                        Live animals 01
0101           Live horses, asses, mules and hinnies 0101
010110  Live horses/asses/mules/hinnies: pure-bred bre...
010111             Horses, live pure-bred breeding 010111
010119      Horses, live except pure-bred breeding 010119
010120              Asses, mules and hinnies, live 010120
010121    Horses; live, pure-bred breeding animals 010121
010129  Horses; live, other than pure-bred breeding an...